body {
    background: rgb(221,232,253);
background: linear-gradient(0deg, rgba(221,232,253,1) 0%, rgba(176,202,250,1) 100%);
    margin: 0;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: white;border-radius: 20px;
    height: 25rem;
    width: 30rem;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="file"] {
    border: 2px dashed #ccc;
    border-radius: 4px; /* Rounded corners */
    background-color: #f8f8f8; /* Background color */
    padding: 10px; /* Padding */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    cursor: pointer; /* Cursor style */
}

input[type="file"]:hover {
    border-color: #666; /* Border color on hover */
}

button[type="submit"] {
    background-color: rgb(96, 209, 150); /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-top: 10px; /* Margin top */
}

button[type="submit"]:hover {
    background-color: rgb(82, 180, 130); /* Darker green background color on hover */
}

form{
    display: grid;
    grid-template-rows: 4fr 1fr;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

/* Add this to your existing CSS */
.container {
    position: relative;
}

.file-label {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    color: #555;
}

input[type="file"]:hover {
    border-color: #666;
}



